<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ABLEV1.Android">
	<uses-sdk />
	<application android:label="ABLE - A Better Learning Environment" android:icon="@drawable/ablelogo1"></application>
</manifest>